<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
<link rel="stylesheet" href="/stylesheets/profile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">GitFit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="flex-grow: 1">
      <a class="nav-item nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/register">Add User</a>
      <div style="flex-grow: 1"></div>

      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>
