<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/index">GitFit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="flex-grow: 1">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/calories">Today's Progress</a>
      <a class="nav-item nav-link" href="/workouts">Workout Plans</a>
      <a class="nav-item nav-link" href="/forum-home">Forum</a>
      <a class="nav-item nav-link" href="/chat">Chat</a>
      <a class="nav-item nav-link" href="/profile">Profile</a>
      <div style="flex-grow: 1"></div>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>
