<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Add Topic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
  <% include ../partials/navuser.ejs %>
  <br>
  <h4 style="text-align:center; margin-top:1%">Create New Discussion</h4>
  <div class="container topic-form" style="margin-top:5%; margin-bottom:5%; width:70%"">
    <form method="post" action="/postTopic">
      <div class="form-group">
        <label for="topic">Title</label>
        <input id="topic" name="topic" type="text" class="form-control" placeholder="Topic">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea style="width: 100%; height: 150px;" id="content" name="content"  class="form-control" placeholder=""></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="Submit" class="create" value="Create" />
      </div>

    </form>
  </div>
  </body>
</html>
