<!DOCTYPE html>
<html>

<head>
    <title>GitFit Goals</title>
    <% include ../partials/head.ejs %>
    <% include ../partials/styles/forms.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div class="signup-form">
            <h2>Almost Finished! Enter your details below to get a specific calorie plan</h2>
            <form action="api/fitnessgoals" method="POST">
            <div>
                <p>Gender:</p>
                <select name = "gender">
                    <option value='male'>Male</option>
                    <option value='female'>Female</option>
                </select>
            </div>
            <div>
                <p>Activity Level:</p>
                <select name = "activity_level">
                    <option value=1.9>Extremely Active</option>
                    <option value=1.725>Very Active</option>
                    <option value =1.55>Moderately Active</option>
                    <option value =1.375>Lightly Active</option>
                    <option value =1.2>Sedentary</option>
                </select>
            </div>
            <div>
                    <p>Your fitness GOAL!</p>
                    <select name = "fit_goal">
                        <option value=1000>Gain muscle very fast (+1000)</option>
                        <option value=500>Safe weight gain (+500)</option>
                        <option value =0>Maintain weight (+0)</option>
                        <option value =-500>Safe weight loss (-500)</option>
                        <option value =-1000>Lose weight very quickly (-1000)</option>
                    </select>
                </div>            
                <div style="text-align:center"class="form-group">
                        <button type="submit" class="btn btn-success btn-large">Register Now</button>
                </div>
            </form>
    </main>
</body>

</html>
