<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <% include ../partials/head.ejs %>
  </head>
  <body >
  <% include ../partials/navuser.ejs %>
  <br>
  <div style="float:left; margin-left:20px">
    <h3>GitFit Forum</h3>
    <br>
    <button type= "button" class="btn btn-info" onclick='window.location.href="/addTopic"'>
     Create New Discussion</button>
    <br>
    <h4 style="margin-top:50px;">Recent Topics</h4>
    <ul>
      <%results.forEach(function(topic) { %>
        <li><%=topic.topic_subject%></li>
      <%})%>
    </ul>
  </div>

  <div style="float:left; margin-left:300px; margin-top:130px">
    <br>
    <h4> My Topics</h4>
  </div>
  </body>
</html>
