<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Forum</title>
    <% include ../partials/head.ejs %>
  </head>
  <body >
  <% include ../partials/navprofile.ejs %>
  <br>
    <div style="margin-left: 20px;">
      <h3>GitFit Forum</h3>
      <br>
      <button type= "button" class="btn btn-info" onclick='window.location.href="/addTopic"'>
       Create New Discussion</button>
      <br>
    </div>
    <div style="margin-left:20px;">

      <h4 style="margin-top:50px;">Recent Discussions</h4><br>
      <ul class="list-group list-group-flush">
        <%results.forEach(function(topic) { %>
          <li class="list-group-item" style="background-color:whitesmoke;><a href="/topic/<%=topic.topic_id%>"> <%=topic.topic_subject%> </a></li><br>
        <%})%>
      </ul>
    </div>

    <div style="margin-left:20px;">
      <br>
        <h4> My Discussions</h4> <br>
        <ul class="list-group list-group-flush">
        <%results.forEach(function(r) {
            if(user==r.topic_by){%>
              <li class="list-group-item" style="background-color:whitesmoke;><a href="/topic/<%=r.topic_id%>"><%=r.topic_subject%></a></li><br>
          <%}})%>
        </ul>
    </div>

  </body>
</html>
