<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>GitFit Login</title>
    <% include ../partials/header.ejs %>
    <style type="text/css">
	   .login-form {
		  width: 340px;
    	margin: 50px auto;
	   }
     .login-form form {
      margin-bottom: 15px;
      background: #f7f7f7;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
     }
     .login-form h2 {
      margin: 0 0 15px;
     }
     .form-control, .btn {
      min-height: 38px;
      border-radius: 2px;
     }
     .btn {
      font-size: 15px;
      font-weight: bold;
     }
</style>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <main>
        <div class="login-form">
            <form action="/api/login" method="POST">
                <h2 class="text-center">Login</h2>
                <div class="form-group">
                  <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> </button>
                </div>
                <div class="clearfix">
                  <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                  <a href="#" class="pull-right"> Forgot Password </a>
                </div>
                <!-- <input type ="register"> -->
            </form>

            <p class="text-center"><a href="/register">Create an Account</a></p>

        </div>
    </main>
</body>

</html>
