<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <title>Workouts</title>
    <% include ../partials/head.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
  </head>

  <body id="page-top">
    <% include ../partials/navuser.ejs %>
  </body>
    <br>
      <section id="portfolio" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Workout plans</h2>
                    <h3 class="section-subheading text-muted"><em>Select workout plan based on fitness goal</em></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover" style="background-color: rgba(78,78,81,0.72);">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/workout1-thumb.jpg"></a>
                    <div class="portfolio-caption">
                        <h4>Gain weight fast</h4>
                        <p class="text-muted">+1000 calories per day</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover" style="background-color: rgba(78,78,81,0.72);">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/workout2-thumb.jpg"></a>
                    <div class="portfolio-caption">
                        <h4>Safely gain weight</h4>
                        <p class="text-muted"><em>+500 calories per day</em></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover" style="background-color: rgba(78,78,81,0.72);">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/workout3-thumb.jpg"></a>
                    <div class="portfolio-caption">
                        <h4>Maintain weight</h4>
                        <p class="text-muted">maintain calories per day</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover" style="background-color: rgba(78,78,81,0.72);">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="/img/workout4-thumb.jpg"></a>
                    <div class="portfolio-caption">
                        <h4>Safely lose weight</h4>
                        <p class="text-muted"><em>-1000 calories per day</em></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover" style="background-color: rgba(78,78,81,0.72);">
                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid img-fluid" src="/img/workout5-thumb.jpg"></a>
                    <div class="portfolio-caption">
                        <h4>Lose weight fast</h4>
                        <p class="text-muted"><em>-500 calories per day</em></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Gain Weight Fast</h2>
                                    <p class="item-intro text-muted">The AMRAP Bodybuilding Workout for Muscle Mass</p><img class="img-fluid d-block mx-auto" src="/img/workout1.jpg">
                                        <p>You’re going to pick a predetermined weight based on your strength level and try to perform as many reps as you can within a specific time. Once you reach failure, you get to rest but the clock keeps ticking. That means you’ll want to keep the rest periods short so you can get back to work.
                                        <br><br>Day 1: Chest and Side Delts
                                        <br>Day 2: Quads and Abs
                                        <br>Day 3: Off
                                        <br>Day 4: Back, Rear Delts, and Traps
                                        <br>Day 5: Biceps and Triceps
                                        <br>Day 6: Hamstrings and Calves
                                        <br>Day 7: Off
                                        <br>Day 8: Split Repeats
                                        </p>
                                            <h2>Day 1: Chest and Side Delts</h2>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-white">
                                                        <tr>
                                                            <th style="background-color: #4e4e51;">Exercise</th>
                                                            <th style="background-color: #4e4e51;">Weight Selection</th>
                                                            <th style="background-color: #4e4e51;">Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1. Incline Smith Machine Press</td>
                                                            <td>8 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2. Flat Dumbbell Press</td>
                                                            <td>12 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3. Cable Crossover</td>
                                                            <td>15 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <h2>Day 2: Quads and Abs</h2>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-white">
                                                        <tr>
                                                            <th style="background-color: #4e4e51;">Exercise</th>
                                                            <th style="background-color: #4e4e51;">Weight Selection</th>
                                                            <th style="background-color: #4e4e51;">Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1. Hack Squat</td>
                                                            <td>8 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2. Leg Press</td>
                                                            <td>12 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3. Leg Extension</td>
                                                            <td>15 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4. Lying Leg Raise</td>
                                                            <td>15 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br><h2>Day 4: Back, Rear Delts, and Traps</h2>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-white">
                                                        <tr>
                                                            <th style="background-color: #4e4e51;">Exercise</th>
                                                            <th style="background-color: #4e4e51;">Weight Selection</th>
                                                            <th style="background-color: #4e4e51;">Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1. T-Bar Row</td>
                                                            <td>8 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2. Wide Grip Pull Down</td>
                                                            <td>12 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3. Wide Grip Seated Row</td>
                                                            <td>15 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4. Reverse Pec Deck</td>
                                                            <td>15 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <h2>Day 5: Biceps and Triceps</h2>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-white">
                                                        <tr>
                                                            <th style="background-color: #4e4e51;">Exercise</th>
                                                            <th style="background-color: #4e4e51;">Weight Selection</th>
                                                            <th style="background-color: #4e4e51;">Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1. Barbell Preacher Curl</td>
                                                            <td>8 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2. Incline Dumbbell Curl</td>
                                                            <td>12 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3. Close Grip Smith Machine Bench Press</td>
                                                            <td>8 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <h2>Day 6: Hamstrings and Calves</h2>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-white">
                                                        <tr>
                                                            <th style="background-color: #4e4e51;">Exercise</th>
                                                            <th style="background-color: #4e4e51;">Weight Selection</th>
                                                            <th style="background-color: #4e4e51;">Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1. Dumbbell Stiff-Legged Deadlift</td>
                                                            <td>8 Rep Max</td>
                                                            <td>3 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2. Lying Leg Curl</td>
                                                            <td>12 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3. Seated Calf Raise</td>
                                                            <td>15 Rep Max</td>
                                                            <td>4 Mins</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button" style="background-color: #4e4e51;"><i class="fa fa-times"></i><span>&nbsp;Close Workout</span></button>
                                    <br><br><form action="/addPoints" method="post">
                                    <button name="score" class="btn btn-primary" type="submit" value="10" style="background-color: green;">Complete</button>
                                    </form></div>
                                    <p style="font-style:italic;">Completing this workout earns you 10 points</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Gain Weight Safely</h2>
                                    <p class="item-intro text-muted">Fitting a workout into your busy routine can be tough for those with hectic lifestyles. This 3 day workout routine utilizes workouts you can do in 30 mins.</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/workout2.jpg">
                                    <p>Each workout will be a full body routine. Full body workouts tend to have the best return on your time invested. You’ll be able to stimulate a lot of muscles and burn a lot of calories in the process.
                                    <br><br>
                                    All 3 workouts listed are ones that you can take with you on the go, involving limited equipment. And you don’t necessarily have to do these in order or each week.</p>
                                    <h2>Day 1</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Sets</th>
                                                    <th style="background-color: #4e4e51;">Reps</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>Barbell Squat</td>
                                                            <td>4</td>
                                                            <td>6</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Chin Ups</td>
                                                            <td>3</td>
                                                            <td>6</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A1. Dumbbell Row</td>
                                                            <td>4</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A2. Push Up</td>
                                                            <td>4</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Lateral Raise</td>
                                                            <td>3</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B1. Sit Up</td>
                                                            <td>3</td>
                                                            <td>20</td>
                                                        </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <h2>Day 2</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Sets</th>
                                                    <th style="background-color: #4e4e51;">Reps</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>A1. Bodyweight Squat</td>
                                                            <td>4</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A2. Reverse Lunge</td>
                                                            <td>4</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A3. Bodyweight Glute Bridge</td>
                                                            <td>4</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dumbbell Bench Press</td>
                                                            <td>3</td>
                                                            <td>6</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B1. Dumbbell Stiff Leg Deadlift</td>
                                                            <td>4</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B2. Dumbbell Step Up</td>
                                                            <td>4</td>
                                                            <td>12 Each</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dumbbell Row</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C1. Bicycle Crunch</td>
                                                            <td>4</td>
                                                            <td>22 Each</td>
                                                        </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br><h2>Day 3</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Sets</th>
                                                    <th style="background-color: #4e4e51;">Reps</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>Dumbbell Shoulder Press</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A1. Front Delt Raise</td>
                                                            <td>3</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A2. Rear Delt Raise</td>
                                                            <td>3</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Chin Up</td>
                                                            <td>4</td>
                                                            <td>8</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dumbbell Incline Bench Press</td>
                                                            <td>4</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pull Up</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Plank</td>
                                                            <td>3</td>
                                                            <td>60 Secs</td>
                                                        </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button" style="background-color: #4e4e51;"><i class="fa fa-times"></i><span>&nbsp;Close Workout</span></button>
                                    <br><br>
                                    <form action="/addPoints" method="post">
                                    <button name="score" class="btn btn-primary" type="submit" value="7" style="background-color: green;">Complete</button>
                                    </form></div>
                                    <p style="font-style:italic;">Completing this workout earns you 7 points</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <h2 class="text-uppercase">Maintain Weight</h2>
                                        <p class="item-intro text-muted">The Ultimate 8 Week Workout for Beginners</p><img class="img-fluid d-block mx-auto" src="img/workout7.jpg">
                                        <p>
                                            Perform the following program on Mondays, Wednesdays, and Fridays.
                                            <br>You can also shift to Tuesdays, Thursdays, and Saturdays as long as you have a day of rest between workouts.
                                            <br>Rest for 30-60 seconds in between each set and exercise.</p>
                                        <br>
                                        <h2>Monday</h2>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="text-white">
                                                    <tr>
                                                        <th style="background-color: #4e4e51;">Exercise</th>
                                                        <th style="background-color: #4e4e51;">Warm up Sets</th>
                                                        <th style="background-color: #4e4e51;">Working Sets</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1. Barbell Bench Press</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>2. Pull Ups</td>
                                                        <td>1 x 12 on pull down</td>
                                                        <td>3 x failure</td>
                                                    </tr>

                                                    <tr>
                                                        <td>3. Back Squat</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>4. Lying Leg Curl</td>
                                                        <td>-</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5. Standing Dumbbell Shoulder Press</td>
                                                        <td>-</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <h2>Wednesday</h2>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="text-white">
                                                    <tr>
                                                        <th style="background-color: #4e4e51;">Exercise</th>
                                                        <th style="background-color: #4e4e51;">Warm up Sets</th>
                                                        <th style="background-color: #4e4e51;">Working Sets</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1. Incline Dumbbell Bench Press</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>2. Barbell Deadlift</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>3. Weighted Dip</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>4. Barbell Curl</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>5. Barbell Romanian Deadlift</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                    <tr>
                                                        <td>6. Standing Calf Raise</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>
                                        <h2>Friday</h2>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="text-white">
                                                    <tr>
                                                        <th style="background-color: #4e4e51;">Exercise</th>
                                                        <th style="background-color: #4e4e51;">Warm up Sets</th>
                                                        <th style="background-color: #4e4e51;">Working Sets</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1. Dumbbell Bench Press</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2. Bent-over Barbell Row</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3. Standing Barbell Press</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4. Front Squat</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5. Dumbbell Lunge</td>
                                                        <td>-</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6. Seated Calf Raise</td>
                                                        <td>1 x 12</td>
                                                        <td>3 x 6-12</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button" style="background-color: #4e4e51;"><i class="fa fa-times"></i><span>&nbsp;Close Workout</span></button>
                                        <br><br><form action="/addPoints" method="post">
                                        <button name="score" class="btn btn-primary" type="submit" value="5" style="background-color: green;">Complete</button>
                                        </form>                                        </div>
                                        <p style="font-style:italic;">Completing this workout earns you 5 points</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal4">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 mx-auto">
                                    <div class="modal-body">
                                        <h2 class="text-uppercase">Lose Weight Safely</h2>
                                        <p class="item-intro text-muted">Sculpt your entire body in 3 workouts per week. This workout program utilizes full body circuits to keep constant tension on your muscles during the workout.</p>
                                        <img class="img-fluid d-block mx-auto" src="/img/workout4.jpeg">
                                        <p>Below are three workouts that are used to combine your full body to get the job done. There will be a mix of weight training, cardio, and core work.
                                                <br><br>For the weight training, once your form is down, pick a weight that challenges you. Often times, I see people can do a lot more than they previously thought. If you’re debating picking up 15 or 20s, go for the 20s and see what happens. You’ll probably be surprised.
                                                <br><br>All three workouts are to be done with 45 seconds on, 15 seconds off, four sets in a row for each exercise, then move onto the next one listed.
                                                <br><br>Before each of the three workouts, there will be a 10 minute interval style cardio session on your choice of equipment. This can be the treadmill, stair stepper, bike, ski-erg, whichever your heart desires, or distastes, either or.
                                                <br><br>This will follow the same 45 seconds on, 15 seconds off, style. You will go max effort on your chosen piece of cardio for 45 seconds, stop and rest for 15 seconds, then continue back at it. All in all, there will be 10 intervals you will be doing of 45 seconds and 15 seconds.</p>
                                                <h2>Circuit Workout 1</h2>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="text-white">
                                                            <tr>
                                                                <th style="background-color: #4e4e51;">Exercise</th>
                                                                <th style="background-color: #4e4e51;">Sets</th>
                                                                <th style="background-color: #4e4e51;">Reps</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr>
                                                                        <td>Plank Jacks</td>
                                                                        <td>10</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Leg Lifts</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Overhead Reverse Lunges</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Alternating Lunge Hops</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Squat/Curl/Shoulder Press</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Bent Over Row</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Close Grip Push Ups</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Step Ups</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Burpee w/ Ball Slam</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <h2>Circuit Workout 2</h2>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="text-white">
                                                            <tr>
                                                                <th style="background-color: #4e4e51;">Exercise</th>
                                                                <th style="background-color: #4e4e51;">Sets</th>
                                                                <th style="background-color: #4e4e51;">Reps</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr>
                                                                        <td>Pike w/ Stability Ball</td>
                                                                        <td>10</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Single Leg Stiff Leg Deadlift</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Side Lunge w/ Ball Slam</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Weighted Squat Jumps</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1 Leg Glute Bridge</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Plank Row to Tricep Kickback</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Front Squat to Shoulder Press</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Alternating Bicep Curls</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Side Lateral Raise</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br><h2>Circuit Workout 3</h2>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class="text-white">
                                                            <tr>
                                                                <th style="background-color: #4e4e51;">Exercise</th>
                                                                <th style="background-color: #4e4e51;">Sets</th>
                                                                <th style="background-color: #4e4e51;">Reps</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr>
                                                                        <td>Moving Side Plank</td>
                                                                        <td>10</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Bicycle Kicks</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Kettlebell Swings</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Walking Lunges</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Dumbbell Flys</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Squat to Arnold Press</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Barbell Front Raise</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>Box Jump</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>1 Leg Push Up</td>
                                                                        <td>-</td>
                                                                        <td>45 Secs</td>
                                                                    </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                        <button class="btn btn-secondary" data-dismiss="modal" type="button" style="background-color: #4e4e51;"><i class="fa fa-times"></i><span>&nbsp;Close Workout</span></button>
                                        <br><br><form action="/addPoints" method="post">
                                        <button name="score" class="btn btn-primary" type="submit" value="7" style="background-color: green;">Complete</button>
                                        </form>                                    </div>
                                    <p style="font-style:italic;">Completing this workout earns you 7 points</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <h2 class="text-uppercase">Lose Weight Fast</h2>
                                    <p class="item-intro text-muted">12 Week Total Fat Annihilation</p>
                                    <img class="img-fluid d-block mx-auto" src="/img/workout5.jpeg">
                                    <p>The following workout is an intense fat loss workout that utilizes somewhat advanced training techniques to increase the total amount of work you’re doing in a given workout.
                                        <br><br>These techniques will also ramp up the tempo of your workouts, which encourages an additional cardiovascular element.
                                        <br><br>The split itself incorporates one upper workout, one lower workout, and two full body workouts. The workouts are listed in the subheaders to come, however it is recommended to set up your week as follows:
                                    </p>
                                    <ul class="list-unstyled">
                                        <li>Monday: Upper Workout (Workout 1)</li>
                                        <li>Tuesday: Lower Workout (Workout 2)</li>
                                        <li>Wednesday: 1 Hour Walk</li>
                                        <li>Thursday: Full Body Workout (Workout 3)/li>
                                        <li>Friday: 1 Hour Walk</li>
                                        <li>Saturday: Full Body Workout (Workout 4)</li>
                                        <li>Sunday: 1 Hour Walk</li>
                                    </ul>
                                    <h2>Fat Loss (Upper Body) Workout 1</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Warm up Sets</th>
                                                    <th style="background-color: #4e4e51;">Working Sets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>A1. Dumbbell Bench Press</td>
                                                            <td>4</td>
                                                            <td>8-10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A2. Dumbbell Incline Bench Press</td>
                                                            <td>4</td>
                                                            <td>8-10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A3. Push Up</td>
                                                            <td>4</td>
                                                            <td>Mechanical Failure</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B1. Dumbbell Row</td>
                                                            <td>4</td>
                                                            <td>8-12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B2. Seated Cable Row</td>
                                                            <td>4</td>
                                                            <td>8-12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B3. Pull Up</td>
                                                            <td>4</td>
                                                            <td>Mechanical Failure</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C1. Lateral Raise</td>
                                                            <td>2</td>
                                                            <td>10-12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C2. Front Raise</td>
                                                            <td>2</td>
                                                            <td>10-12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C3. Rear Delt Raise</td>
                                                            <td>2</td>
                                                            <td>10-12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Farmers Carry</td>
                                                            <td>5</td>
                                                            <td>20 Yards</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Oblique Crunch</td>
                                                            <td>2</td>
                                                            <td>15 Each</td>
                                                        </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <h2>Fat Loss (Lower Body) Workout 2</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Warm up Sets</th>
                                                    <th style="background-color: #4e4e51;">Working Sets</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>A1. Front Squat</td>
                                                            <td>4</td>
                                                            <td>8-10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A2. Goblet Squat</td>
                                                            <td>4</td>
                                                            <td>8-10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A3. Rear Bodyweight Lunge</td>
                                                            <td>4</td>
                                                            <td>Mechanical Failure</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B1. Dumbbell Stiff Leg Deadlift</td>
                                                            <td>4</td>
                                                            <td>8-10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B2. Leg Curl</td>
                                                            <td>4</td>
                                                            <td>8-10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B3. Bodyweight Glute Bridge</td>
                                                            <td>4</td>
                                                            <td>Mechanical Failure</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C1. Standing Calf Raise</td>
                                                            <td>4</td>
                                                            <td>20</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C2. Seated Calf Raise</td>
                                                            <td>4</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Farmers Carry</td>
                                                            <td>5</td>
                                                            <td>20 Yards</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ab Crunch</td>
                                                            <td>2</td>
                                                            <td>20</td>
                                                        </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <h2>Fat Loss (Full Body) Workout 3</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Sets</th>
                                                    <th style="background-color: #4e4e51;">Reps</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>A1. Dumbbell Squat</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>A2. Dumbbell Shoulder Press</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B1. Goblet Squat</td>
                                                            <td>3</td>
                                                            <td>12 Each</td>
                                                        </tr>
                                                        <tr>
                                                            <td>B2. Lat Pull Down</td>
                                                            <td>3</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C1. Landmine Romanian Deadlift</td>
                                                            <td>3</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>C2. Landmine T-Bar Row</td>
                                                            <td>3</td>
                                                            <td>12</td>
                                                        </tr>
                                                        <tr>
                                                            <td>D1. EZ Bar Curl</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>D2. Skullcrushers</td>
                                                            <td>3</td>
                                                            <td>10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Farmers Walk</td>
                                                            <td>4</td>
                                                            <td>60 Secs</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Plank</td>
                                                            <td>3</td>
                                                            <td>30 Secs</td>
                                                        </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br><h2>Fat Loss (Full Body) Workout 4</h2>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="text-white">
                                                <tr>
                                                    <th style="background-color: #4e4e51;">Exercise</th>
                                                    <th style="background-color: #4e4e51;">Sets</th>
                                                    <th style="background-color: #4e4e51;">Reps</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                        <td>A1. Conventional Deadlift</td>
                                                        <td>3</td>
                                                        <td>10</td>
                                                    </tr>
                                                    <tr>
                                                        <td>A2. Push Up</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>B1. Leg Press</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>B2. Pull Up</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>C1. Hack Squat</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>C2. Inverted Row</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>D1. Cable Curl</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>D2. Tricep Extension</td>
                                                        <td>3</td>
                                                        <td>12</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Farmers Walk</td>
                                                        <td>4</td>
                                                        <td>60 Secs</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hanging Leg Raise</td>
                                                        <td>2</td>
                                                        <td>12</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <br>
                                    <button class="btn btn-secondary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Workout</span></button>
                                    <br><br><form action="/addPoints" method="post">
                                    <button name="score" class="btn btn-primary" type="submit" value="10" style="background-color: green;">Complete</button>
                                    </form>
                                </div>
                                <p style="font-style:italic;">Completing this workout earns you 10 points</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="/scripts/agency.js"></script>
  </body>
</html>
